[remote "github"]
    url = git@github.com:huangyingw/submissions.git
    fetch = +refs/heads/*:refs/remotes/github/*
[commit]
    message = n
[branch "master"]
    remote = github
    merge = refs/heads/master
[push]
    remote = github
[gsync]
    remote = github
[merge]
    allow = true
[vrun]
    silent = false
