[remote "origin"]
	url = https://github.com/huangyingw/submissions.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[remote "github"]
    url = git@github.com:huangyingw/submissions.git
    fetch = +refs/heads/*:refs/remotes/github/*
[remote "bitbucket"]
    url = git@bitbucket.org:huangyingw/submissions.git
    fetch = +refs/heads/*:refs/remotes/bitbucket/*
[commit]
    message = n
[branch "master"]
	remote = origin
	merge = refs/heads/master
[push]
    remote = github
    remote = bitbucket
[gsync]
    remote = github
    branch = master
[merge]
    allow = true
[vrun]
    silent = false
    show = true
